kind: Namespace
apiVersion: v1
metadata:
  name: tekton-chains
  labels:
    app.kubernetes.io/component: chains
    app.kubernetes.io/part-of: tekton-pipelines
---
apiVersion: v1
kind: Secret
metadata:
  name: signing-secrets
  namespace: tekton-chains
  labels:
    app.kubernetes.io/component: chains
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-pipelines
    pipeline.tekton.dev/release: "devel"
    version: "devel"
# The data is populated at install time.
# data:
  # This contains the private key to use for PGP signing
  # pgp.private-key:
  # This contains the passphrase to use for the pgp private key
  # pgp.passphrase:
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: chains-config
  namespace: tekton-chains
  labels:
    app.kubernetes.io/component: chains
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-pipelines
    pipeline.tekton.dev/release: "devel"
    version: "devel"
# The data can be tweaked at install time.
data:
  artifacts.taskrun.format: tekton
  artifacts.taskrun.storage: tekton
  artifacts.taskrun.signer: x509
  artifacts.oci.storage: oci
  artifacts.oci.format: simplesigning
  artifacts.oci.signer: x509
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tekton-chains-controller
  namespace: tekton-chains
  labels:
    app.kubernetes.io/name: tekton-pipelines
    app.kubernetes.io/component: chains
    pipeline.tekton.dev/release: "devel"
    version: "devel"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tekton-chains-controller
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
      labels:
        app: tekton-chains-controller
        app.kubernetes.io/name: tekton-pipelines
        app.kubernetes.io/component: controller
        # # tekton.dev/release value replaced with inputs.params.versionTag in pipeline/tekton/publish.yaml
        # pipeline.tekton.dev/release: "devel"
        version: "devel"
    spec:
      serviceAccountName: tekton-chains-controller
      containers:
      - name: tekton-chains-controller
        image: ko://github.com/tektoncd/chains/cmd/controller
        volumeMounts:
        - name: config-logging
          mountPath: /etc/config-logging
        - name: signing-secrets
          mountPath: /etc/signing-secrets
        env:
        - name: SYSTEM_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: METRICS_DOMAIN
          value: tekton.dev/chains
      volumes:
      - name: config-logging
        configMap:
          name: config-logging
      - name: signing-secrets
        secret:
          secretName: signing-secrets
