name: goclean

on:
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
    branches:
      - main
      - release-*
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
    branches:
      - main
      - release-*
  schedule:
    - cron: '41 20 * * 1'

jobs:
  goclean:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.7

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '1.22'

    - name: go vet
      run: |
        # Use in-place vendored dependencies.
        go vet -mod=vendor ./...

    # If this workflow fails, run `go fmt` on your tree and resubmit.
    # We ignore vendor/ files whose format we don't control.
    - name: go fmt
      run: if [ "$(gofmt -l . | grep -v vendor/ | grep -v third_party/ | wc -l)" -gt 0 ]; then exit 1; fi
