name: Chains kind E2E Tests

on:
  pull_request:
    branches:
      - main
      - release-*

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  k8s:
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-version:
        - v1.24.x
        - v1.25.x
        - v1.26.x
        - v1.27.x
    uses: ./.github/workflows/reusable-e2e.yaml
    with:
      k8s-version: ${{ matrix.k8s-version }}
      pipelines-release: v0.50.1
  pipelines-lts:
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        pipelines-release:
        - v0.41.3  # LTS
        - v0.44.4  # LTS
        - v0.47.3  # LTS
        - v0.50.1  # LTS
        - v0.51.0
    uses: ./.github/workflows/reusable-e2e.yaml
    with:
      k8s-version: v1.26.x
      pipelines-release: ${{ matrix.pipelines-release }}
