name: Chains kind E2E Tests


on: [workflow_call]
# on:
#   pull_request:
#     branches:
#       - main
#       - release-*

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  k8s:
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.k8s-version }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        # Keep in sync with the list of supported releases: https://kubernetes.io/releases/
        # Add latest k8s-version once it is added in https://github.com/sigstore/scaffolding/releases
        k8s-version:
          - v1.31.x
          - v1.32.x
          - v1.33.x
    uses: ./.github/workflows/reusable-e2e.yaml
    with:
      k8s-version: ${{ matrix.k8s-version }}
      pipelines-release: v1.2.0 # Latest version
  pipelines-lts:
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.pipelines-release }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        pipelines-release:
          # This should follow the list of versions from https://github.com/tektoncd/pipeline/blob/main/releases.md#release
          # TODO: Ideally, we should get this directly from pipeline repository
          - v0.68.1  # LTS
          - v1.0.0   # LTS
          - v1.3.2   # LTS
          - v1.6.0   # LTS
    uses: ./.github/workflows/reusable-e2e.yaml
    with:
      k8s-version: v1.33.x  # intersection of the latest version and scaffolding
      pipelines-release: ${{ matrix.pipelines-release }}
