name: Chains kind E2E Tests

on:
  pull_request:
    branches:
      - main
      - release-*

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  k8s:
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        # Keep in sync with the list of supported releases: https://kubernetes.io/releases/
        k8s-version:
        - v1.27.x
        - v1.28.x
        - v1.29.x
        - v1.30.x
    uses: ./.github/workflows/reusable-e2e.yaml
    with:
      k8s-version: ${{ matrix.k8s-version }}
      pipelines-release: v0.59.6
  pipelines-lts:
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        pipelines-release:
        - v0.59.6 # Had to change this to working versions during CVE fixes. Older versions gave gcr issue
    uses: ./.github/workflows/reusable-e2e.yaml
    with:
      k8s-version: v1.27.x
      pipelines-release: ${{ matrix.pipelines-release }}
